
.header {
    padding-bottom: 15px;
}

.header .container {
    display: flex;
    align-items: center;
}

.nav {
    margin-left:auto;
}


.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav__item {
    padding: 16px;
}

.nav__link {
    display: inline-block;
    font-family: 'Barlow';
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color:  #83888F;
}

.nav__link:hover {
    color: #333D4B;
} 

.nav__link--actev {
    color: #333D4B;
}

.header-right {
    display: flex;
}

.header-humburger-button {
    margin-right: 10px;
    border: none;
    background-color: #fff;
    display: none;
}

@media only screen and (max-width: 602px) {
    .header-humburger-button {
        display: block;
        cursor: pointer;
    }
    .nav {
        display: none;
    }

    .header-open .nav {
        margin-right: 60px;
        top: 100%;
        position: absolute;
        display: block;
        width: 30%;
        right: 0;
        background-color: #fff;
    }

    
    .header-open .nav__list{
        width: 100%;
        flex-direction: column;
        margin-right: -40px;
    }
    .header-open .nav__item{
        margin-left: 30px;
    }
}

.nav__item + .nav__item {
    margin-left: 33px;
}

.nav__link {
    font-size: 12px;
    font-weight: 700;
    color: #83888F;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.5s ease;
}

.nav__link:hover {
    color: #333D4B;
}

.nav__link--active {
    color: #333D4B;
}




