
.hero .container {
    width: 1280px;
    height: 600px;
    background-image: url('../img/coffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.hero__item{
width: 493px;
height: 367px;
padding: 177px 85px;
}

.hero__heading {
    margin: 0;
    width: 493px;
    font-family:'Fraunces',  "Times New Roman", serif;
    font-size: 72px;
    line-height: 72px;
    font-weight: 900;
    color: #FEFCF7;
    text-align-last: left;
}

.hero__desc {
margin: 0;
padding-top: 25px;
 width: 445px;
font-family:'Barlow';
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
opacity: 0.8;
}

.section-btn {
    padding: 15px 15px;
    margin-top: 20px;
    font-family: "Fraunces", "Times New Roman", serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 900;
    color: #FEFCF7;
    text-decoration: none;
    background-color: #fff;
    background: #0E8784;
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    
  &:hover {
    background-color: #66D2CF;
    transition: background-color 0.5s ease;
}

}

