
.products {
    padding: 200px 0;
    background-image: url("../../img/ourcollection.jpg");
    background-size: 1111px 196px;
    background-repeat: no-repeat;
    background-position: left calc(50% + 0px) top 80px;
}

.product{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.products__item {
    width: 230px;
}

.product__img{
  margin-left: 20px;
}


.product__heading {
 margin-top: 0px;
 margin-bottom: 24px; 
padding: 0px ;  
font-family: 'Fraunces' "Times New Roman", serif;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
text-align: center;
}

.product__desc {
    width: 255px;
    height: 78px;
    margin: 0;
    padding: 0;
    text-align: center;
}